body {
  background-color: rgb(235, 232, 227);
  font-family: "Plus Jakarta Sans", sans-serif;
  overflow-x: hidden;
}

/* Hero section */
.hero {
  background-color: rgb(235, 232, 227);
}

.btn-dark:hover {
  background-color: rgb(184, 163, 171);
  border-color: rgb(184, 163, 171);
}
